.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline-block;
  margin: 10px;
}

.login-btn {
  background-color: #4caf50;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.student-header {
  text-align: end;
  margin: 10px;
}
.cart-lists {
  margin-left: 50px;
}
.cart-logo-style {
  margin-right: 10px;
}
.cart-items-count-style {
  background: transparent;
  border: none;
}
.header-btn-selected {
  background-color: #000000;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.header-btn-unselect {
  background-color: #4caf50;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.logout-btn {
  background-color: #ff0000;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.student-book-btn {
  background-color: #6849a1;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.login-page {
  text-align: center;
  align-content: center;
  margin: 100px;
}
.add-book-page {
  text-align: center;
  align-content: center;
  margin: 100px;
}
.register-page {
  text-align: center;
  align-content: center;
  margin: 100px;
}
.form-control {
  text-align: center;
  width: 300px;
}
.register-btn {
  background-color: #ff0000;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.or-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove-btn {
  background-color: #ff0000;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.rent-btn {
  background-color: #6849a1;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.add_book-btn {
  background-color: #6849a1;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.add-book-btn {
  background-color: #6849a1;
  border: 2px;
  color: rgb(255, 255, 255);

  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.book-rented-page {
  margin-left: 50px;
}
